.my-complaints{

    display:flex;

    flex-direction:column;

}

.my-complaints h1{

    color:#0055A4;

    margin-bottom:25px;

}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 600px){

    .my-complaints h1{
        font-size:26px;
        margin-bottom:20px;
    }

}

@media (max-width: 400px){

    .my-complaints h1{
        font-size:24px;
        margin-bottom:18px;
    }

}